name: Doxygen Action

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

        # ========== Setup ==========
      - name: Install Doxygen
        run: sudo apt-get install doxygen graphviz doxygen-latex -y
        shell: bash
      - name: Configure Doxygen Python
        run: cp ./modules/bindings/include/ihs_bindings.pyi ./modules/bindings/include/ihs_bindings.py

        # ========== Build Doxygen ==========
      - name: Configure
        run: cmake -Dwith_documentation=ON -Dbuild_library=OFF -Dbuild_python=OFF .

      - name: Build
        run: make

      # ========== Deploy ==========
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        # If you're changing the branch from main,
        # also change the `main` in `refs/heads/main`
        # below accordingly.
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html
